<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".PainterAdministrationListActivity"
            android:exported="false" />
        <activity
            android:name=".PainterDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PainterCreateActivity"
            android:exported="false" />
        <activity
            android:name=".AccessRequestDetailActivity"
            android:exported="false" />
    </application>
</manifest>
